<h3>Articles listing page</h3>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
   <% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td>Placeholder</td>
  <% end %>
  </tr>
  </tbody>
</table>
